
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

.navbar-brand {
    font-family: Roboto;
}

#app {
    height: 100%;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    -moz-user-select: none;
    user-select: none; /* Standard syntax */
}
#container {
    height: calc(100vh - 52px);
}

#circle,
#circle-inner,
#circle-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle,
#circle-inner {
    border-radius: 50%;
}

#circle {
    position: relative;
    height: 200px;
    width: 200px;
    background: conic-gradient(#0d6efd 300deg, grey 0deg);
}
#circle-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 85%;
    background-color: white;
}
#circle-value {
    font-family:  "Lato", sans-serif;
    font-size: 1.8rem;
}
